################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices/.vs/Microservices/FileContentIndex
/Microservices/.vs/Microservices/FileContentIndex/4954920d-4a9b-49e8-bac9-6626056bcb57.vsidx
/Microservices/.vs/Microservices/FileContentIndex/7fd1edf8-c36d-462d-a0d9-8f02720199ad.vsidx
/Microservices/.vs/Microservices/FileContentIndex/830fc9be-4124-48bc-80ec-e95d5cec2586.vsidx
/Microservices/.vs/Microservices/FileContentIndex/84394b9c-f904-40e4-8cfd-afdd53bf087d.vsidx
